@charset "UTF-8";

html, body {
	padding:0px;
	margin:0px;
	background-color:#fff;
	font-family:"Lucida Grande","Arial","Helvetica","Verdana",sans-serif;
}

/**
 * DIV.EDRNINFORMATICS
 * This is the header that preceeds application content. 
 */
div#edrninformatics {
	position:relative;
	height:56px;
	padding:5px;
	text-align:right;
	border-bottom:solid 1px #000;
	background:url(../img/blackfade-syncd.jpg) scroll 0px 0px repeat-x;
	background-color:#000;
}

/**
 * DIV.CAS-HEADER
 * This is the header that precedes application content. 
 */
div#edrninformatics.cas-header {
	background:url(../../../img/blackfade-syncd.jpg) scroll 0px 0px repeat-x;
}
div#edrninformatics.cas-header div.menu {
	padding-top:50px;	
}

/**
 * DIV.CAS-LOGO-LEFT
 * This is the NCI/EDRN logo div which lives inside DIV.EDRNINFORMATICS.
 */
div#edrnlogo.cas-logo-left {
	background:url(../../../img/nci-small.jpg) scroll -2px 1px no-repeat;
	font-size:14px;
}
/**
 * DIV.CAS-LOGO-RIGHT
 * This is the double-helix graphic
 */
div#edrn-dna.cas-logo-right {
	background:url(../../../img/edrn_dna-bigger.jpg) scroll left top no-repeat;
}


/**
 * DIV.EDRNLOGO
 * This is the NCI/EDRN logo div which lives inside DIV.EDRNINFORMATICS.
 */
div#edrnlogo {
	font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
	position:absolute;
	top:-1px;
	left:0px;
	background:url(../img/nci-small.jpg) scroll -2px 1px no-repeat;
	height:68px;
	width:365px;
	padding-left:115px;
	padding-top:6px;
	color:#eee;
	line-height:16px;
	text-align:left;
}

div#edrnlogo span.smaller {
	font-size:85%;
	color:#bbb;	
}
/**
 * DIV.EDRN-DNA
 * This is the double-helix graphic
 */
div#edrn-dna {
	position:absolute;
	top:0px;
	right:0px;
	height:67px;
	width:290px;
	background:url(../img/edrn_dna-bigger.jpg) scroll left top no-repeat;
}


/**
 * H2.APP-TITLE
 * This is the title for the application. It lives on the right-hand side
 * of DIV.EDRNINFORMATICS.
 */
h2.app-title {
	position:absolute;
	top:67px;
	right:0px;
	background-color:transparent;
	margin:0px;
	width:50%;
	padding:5px;
	padding-left:0px;
	color:#722;
	font-weight:normal;
	font-size:13px;
	font-weight:bold;
	letter-spacing:0.00em;
	text-transform:uppercase;
	z-index:100;
}

/**
 * DIV.ERROR
 * This provides a red 'error' box suitable for displaying error
 * messages.
 */
div.error {
	background-color:#fcc;
	padding:5px;
	margin-right:15px;
	border:solid 1px #f44;
}

/**
 * DIV.SUCCESS
 * This provides a green 'success' box suitable for displaying
 * successful messages.
 */
div.success  {
	padding:5px;
	border:solid 1px green;
	background-color:#cfc;	
	margin-right:10px;
}

/**
 * DIV.NOTICE
 * This provides a blue 'notice' box suitable for displaying
 * notices messages.
 */
div.notice  {
	padding:5px;
	border:solid 1px #8df;
	background-color:#7ce;	
	margin-right:0px;
	color:#000;
}


/**
 * DIV.USERDETAILS
 * This provides information about the login-status of the user.
 * It should live within div#edrninformatics
 */
div.userdetails {
	position:absolute;
	top:95px;
	right:5px;
	color:#444;
	font-size:11px;
	z-index:10
}
div.userdetails a {
	text-decoration:underline;
	color:#444;	
}

/**
 Overrides required to enable user details to not be overlayed
 on top of container for the staging/fm area
**/
div.container{
	top:11px;
}

/** 
 * DIV#BREADCRUMBS
 * This provides the area for breadcrumbs navigation links
 */
 
div#breadcrumbs.cas-breadcrumbs a {
	color:#333;
}

div#breadcrumbs {
	position:relative;
	margin-top:0px;
	padding:4px;
	padding-right:5px;
	padding-left:5px;
	border-top:solid 1px #700003;
	border-bottom:solid 1px #700003;
	padding-bottom:5px;
	background-color:#fff;	
	color:#333;
	font-size:12px;
}
div#breadcrumbs ul {
	list-style:none;
	margin:0px;
	padding:0px;
}
div#breadcrumbs ul li {
	display:inline;
}

div#breadcrumbs ul li a {
	color:#222;
	font-weight:normal;
	text-decoration:underline;	
}

/**
 * DIV#FOOTER
 * This provides the standard page footer with links to NCI,NIH,USAGOV
 * and enterprise-wide informational links (privacy policy, etc).
 */
div#footer {
	font-size:90%;
	color:#666;
	text-align:center;
	margin-top:35px;
	border-top:solid 1px #ddd;
	padding-top:15px;
	padding-bottom:8px;
}
div#footer img {
	border:none;
	padding-left:2px;
	margin-left:5px;	
}

/**
 * HEADERS (H1,H2,H3,......)
 */
h2.title {
	background-color:#555;
	padding:5px;
	margin:0px;
	color:#fff;
	border-top:solid 2px #900;
	border-bottom:solid 1px #300;
	font-weight:normal;
	font-size:15px;
}

h2.title a {
	color:#89b;	
	font-weight:normal;
	text-decoration:none;
}

h2.title a:hover {
	text-decoration:underline;
	font-weight:normal;	
}

h4 {
	border-bottom:dotted 1px #888;
}


/**
 * LOGIN FORM
 */
form#login-form {
	border:solid 0px #f66;
	background-color:#fff;
	margin:5px;
	padding:3px;
	text-align:center;
}
form#login-form h3 {
	color:#333;
	margin-top:0px;
	border-bottom:dotted 0px #444;
		
}
form#login-form input[type=text], form#login-form input[type=password] {
	border:solid 1px #888;
	padding:3px;
	width:150px;
}
form#login-form table {
	color:#333;
	margin:5px;
	margin-top:0px;
	border:solid 1px #ccc;
	width:242px;
}
form#login-form input[type=submit] {
	padding:3px;
}

/**
 * .CLR
 * This is a utility which serves to reset things after a 
 * series of floated elements
 */
.clr {
	clear:both;
}